.Auth{
    background-image: url('./assets/images/background.jpg'); 
    background-color: $color-yellow;
    background-attachment: scroll;
    background-position: center center;  
    background-repeat: repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
}

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

p.accept-rules {
    padding-top: 3px;
    padding-left: 10px; 
    color:white;
    letter-spacing: 0.2rem;
}

 input[type="password"].auth-input, input[type="email"].auth-input, input[type="text"].auth-input{
    border: none;
    border-bottom: 0.1rem solid white;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    background: none !important; 
    outline: none; 
    color: white;
    font-size: 2rem; 
    font-family: "OpenGostTypeATT-Regular", Tahoma;
    letter-spacing: 0.2rem;
 }

 input[type="text"].auth-input::-webkit-input-placeholder {color:white;}
 input[type="text"].auth-input::-moz-placeholder          {color:white;}/* Firefox 19+ */
 input[type="text"].auth-input:-moz-placeholder           {color:white;}/* Firefox 18- */
 input[type="text"].auth-input:-ms-input-placeholder      {color:white;}

 input[type="password"].auth-input::-webkit-input-placeholder {color:white;}
 input[type="password"].auth-input::-moz-placeholder          {color:white;}/* Firefox 19+ */
 input[type="password"].auth-input:-moz-placeholder           {color:white;}/* Firefox 18- */
 input[type="password"].auth-input:-ms-input-placeholder      {color:white;}

 input[type="email"].auth-input::-webkit-input-placeholder {color:white;}
 input[type="email"].auth-input::-moz-placeholder          {color:white;}/* Firefox 19+ */
 input[type="email"].auth-input:-moz-placeholder           {color:white;}/* Firefox 18- */
 input[type="email"].auth-input:-ms-input-placeholder      {color:white;}

 input[type="checkbox"]{
    display: none;
 }

input[type="checkbox"] + label::before {
    border: 0.1rem solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    display:inline-block;
    width:1.6rem;
    height:1.6rem;
    margin: 0 10px 5px -0.1rem;
    vertical-align:middle;
    //background:url('./assets/images/draw-check-mark.png') left top no-repeat;
    cursor:pointer;
    content:"";
}

input[type="checkbox"]:checked + label::before {
    background:url('./assets/images/draw-check-mark.png');
    background-size: contain;
}

button.auth-btn{
    border: 0.1rem solid $color-blue;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem; 
    -khtml-border-radius: 10rem; 
    color: $color-blue;
    text-decoration: none;
    user-select: none;
    background: none;
    //padding: 0 4rem 0 4rem;
    outline: none;
    font-family: "OpenGostTypeATT-Regular", Tahoma;
    font-size: 2rem; 
    margin-bottom: 10px;
    width: 16rem;
}

button.auth-btn:hover{
    color: $white;
    background: $color-blue;
}

a.auth-btn{
    border: 0.1rem solid $color-blue;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem; 
    -khtml-border-radius: 10rem; 
    color: white;
    text-decoration: none;
    user-select: none;
    background: $color-blue;
    //padding: 0 4rem 0 4rem;
    outline: none;
    font-family: "OpenGostTypeATT-Regular", Tahoma;
    font-size: 2rem; 
    width: 16rem;
}

a.auth-btn:hover{
    color: $color-blue;
    background: none;
}