$color-white: #fff;
$color-blue: #0c7177;
$color-blue-active: #02565b;
$color-grey: #828282;
$color-dark-grey: #435040;
$color-red: #5f0808;
$color-yellow: #fce063;

$small-font-size: 1.6rem;
$medium-font-size: 2rem;
$big-font-size: 2.5rem;
$biggest-font-size: 3.2rem;

$background-image: "./assets/images/design/background.jpg"